/**
 * Espresso theme
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 1em;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse .gsc-control-cse div,
.gsc-control-cse div {
  position: normal;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Georgia, serif;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.gsc-control-cse .gsc-table-result {
  font-family: Georgia, serif;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
/* Snippet matched query terms are in italic and red. */
.cse .gsc-control-cse .gs-snippet b,
.gsc-control-cse .gs-snippet b {
  font-style: italic;
  font-weight: normal;
}
/* Search form */
.cse form.gsc-search-box,
form.gsc-search-box {
  padding: 8px 0 2px 0;
  margin-bottom: 6px;
}
.cse .gsc-branding-text,
.gsc-branding-text,
.cse td.gcsc-branding-text,
td.gcsc-branding-text {
  color: #461200;
}
/**
 * Table cell containing the search input.
 * 12 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  border: 1px solid #D3BCA1;
  padding: 3px 6px;
  width: 99%;
  font-size: 13px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding: 0 8px;
  height: 24px;
  min-width: 54px;
  background: #461200;
  border: 1px solid #300d00;
}
/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2px 8px 0 8px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #A25B08;
  border: 1px solid;
  border-color: #A25B08;
  border-bottom: none;
  color: #ffffff;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  font-weight: bold;
  background-color: #461200;
  border: 1px solid #461200;
  border-bottom: none;
  color: #ffffff;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid;
  border-color: #461200;
  padding: 0;
}
/* Inactive refinement */
.cse .gsc-refinementHeader.gsc-refinementhInactive,
.gsc-refinementHeader.gsc-refinementhInactive {
  color: #950000;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  margin-bottom: 12px;
  border: block;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
}
.cse div.gs-title,
div.gs-title,
.cse .gs-snippet,
.gs-snippet,
.cse .gs-visibleUrl,
.gs-visibleUrl,
.cse .gs-visibleUrl-short,
.gs-visibleUrl-short,
.cse .gs-spelling,
.gs-spelling {
  padding: 0;
}
.cse .gs-snippet,
.gs-snippet,
.cse .gs-visibleUrl,
.gs-visibleUrl,
.cse .gs-visibleUrl-short,
.gs-visibleUrl-short,
.gs-per-result-labels {
  padding-left:15px;
}
/* Font size */
.cse .gs-snippet,
.gs-snippet,
.cse .gs-spelling-original,
.gs-spelling-original {
  font-size: 14px;
  line-height: 17px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-column,
.gsc-imageResult-classic {
  padding: 6px 0;
  margin-bottom: 2px;
  border: 1px solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border: 1px solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.cse .gs-webResult.gs-result .gsc-cursor-page,
.gs-webResult.gs-result .gsc-cursor-page,
.cse .gs-webResult.gs-result a.gsc-trailing-more-results:link,
.gs-webResult.gs-result a.gsc-trailing-more-results:link,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b,
.gs-imageResult .gsc-cursor-page,
.gs-imageResult a.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
  color: #950000;
}
/* Override default.css selector to disable underlines. */
.cse .gs-result .gs-title,
.gs-result .gs-title,
.cse .gs-result .gs-title *,
.gs-result .gs-title *,
.cse .gs-promotion a.gs-title,
.gs-promotion a.gs-title,
.cse .gs-promotion a.gs-title *,
.gs-promotion a.gs-title *,
.cse .gs-promotion .gs-snippet a,
.gs-promotion .gs-snippet a,
.cse .gs-spelling a,
.gs-spelling a {
  text-decoration: none;
}
/* Snippet Text Color */
.cse .gs-webResult .gs-snippet,
.gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet {
  color: #333333;
}

.cse .gs-webResult a.gs-visibleUrl,
.gs-webResult a.gs-visibleUrl,
.cse .gs-webResult .gs-visibleUrl,
.gs-webResult .gs-visibleUrl,
.gs-imageResult a.gs-visibleUrl,
.gs-imageResult .gs-visibleUrl {
  color: #A25B08;
  font-size: 12px;
  margin-top: 3px;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-top: 1px dotted #c78dcc;
  padding-top: .5em;
  text-align: center;
}
/* Selected pagination */
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #fff;
  background-color: #461200;
  text-shadow: 0 1px 1px #000;
  padding: 0 5px;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #FFFFCC;
  border-color: #FEFEDC;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #A25B08;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #e7dbcc;
}
.gsc-completion-container {
  font-family: Georgia, serif;
  font-size: 13px;
  background: white;
  border: 1px solid #D3BCA1;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #950000;
}
.gsc-completion-snippet {
  color: #333333;
}
/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.gsc-snippet-metadata {
  color: #767676;
  margin-left: 15px;
}

.gsc-rating-bar {
  display: inline-block;
  width: 53px;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) -52px -12px no-repeat;
  margin: 4px 0 0 0;
}

.gsc-rating-bar span {
  display: inline-block;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) 0 -12px no-repeat;
  padding: 4px 0 0 0;
}

.gsc-reviewer {
  color: #950000;
}

.gsc-author {
  color: #950000;
}

.gsc-option-menu-item-highlighted {
  background-color: #e7dbcc;
}
