<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="global" label="COM_ITPGOOGLESEARCH_GLOBAL_TITLE" description="COM_ITPGOOGLESEARCH_GLOBAL_PARAMS">
        <field name="search_engine_id" type="text" default="" class="span6" label="COM_ITPGOOGLESEARCH_ID" description="COM_ITPGOOGLESEARCH_ID_DESC" />
        <field name="display_search_form" type="radio" default="1" label="COM_ITPGOOGLESEARCH_DISPLAY_SEARCH_FORM" description="COM_ITPGOOGLESEARCH_DISPLAY_SEARCH_FORM_DESC" class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
</config>